header {
  border-image: url(images/ll-shadow-opacity.png) 56 stretch !important;
  border: 4px solid transparent;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 20px;
  border-right-width: 0px;
  margin-bottom: -6px;
  width: 100%;
  border-image-outset: 11px !important;
}

/*          Featured Selection Page         */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Desktop resolution~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.feature-selection-header {
  background-image: url(images/ll-background-centered.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#ll-graphic-lock {
  height: 46px;
  margin-left: 5px;
  top: 12px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.feature-selection-options {
  top: -88px !important;
  padding-bottom: 70px !important;
}

.feature-selection-options li div {
  background: url(images/living-legacies-circle-graphic.png) no-repeat center center !important;
}

.fs-v2 .pictures-bg {
  background: url(images/fs-bottom-img.png) no-repeat center center !important;
  height: 250px !important;
  /*width: 100% !important;*/
  margin-bottom: -180px !important;
  background-size: cover !important;
}

.page:not(.home) .btn-gradient, .single .btn-gradient {
  padding: 10px 20px !important;
  min-width: 125px !important;
  font-size: 11px !important;
  padding: 3px 20px !important;
  min-width: 82.5px !important;
}

.feature-selection-options li p {
  font-size: 12.5px !important;
}

.feature-selection-options li strong {
  font-size: 17.9px !important;
}

.feature-selection-options li div span {
  font-size: 19px !important;
}

.fs-v2 .pictures-bg {
  margin-bottom: -208px !important;
  background-size: 100% 80% !important;
}

.feature-selection-options li div {
  height: 250px !important;
  width: 250px !important;
  padding: 54px 30px 40px !important;
}

.feature-selection-options li p {
  line-height: 23px !important;
}

.feature-selection-options li div span {
  font-size: 15px !important;
  line-height: 20px !important;
  min-height: 70px !important;
}

.page:not(.home) .btn-gradient, .single .btn-gradient {
  font-size: 12px !important;
  padding: 6px 20px !important;
  min-width: 102.5px !important;
}

.header-banner.feature-selection-header h1 span {
  font-size: 43.5px !important;
  text-transform: uppercase !important;
}

.header-banner.feature-selection-header .col-v2 .text-btn.color2 {
  position: relative;
  bottom: 20px;
  right: 7px;
}

.header-banner .col-v2 {
  position: relative;
  top: 65px;
}

/*  Media Queries */
/* Min Width Screen 1260px*/
@media screen and (min-width: 1281px) {
  .fs-v2 .pictures-bg {
    height: 300px !important;
    background-size: cover !important;
  }

  .feature-selection-options {
    top: -120px !important;
  }

  .feature-selection-options li p {
    font-size: 15.5px !important;
  }

  .feature-selection-options li strong {
    font-size: 21px !important;
  }
}
@media screen and (max-width: 1280px) {
  .fs-v2 .pictures-bg {
    width: 1280px !important;
  }

  .fs-v2 .pictures-bg:parent {
    max-width: 1280px;
  }

  .feature-selection-options li strong {
    font-size: 18.8px !important;
  }
}
@media screen and (max-width: 1271px) {
  .feature-selection-options li strong {
    font-size: 17.9px !important;
  }
}
@media screen and (min-width: 992px) {
  .feature-selection-options {
    padding-left: 65px !important;
    padding-right: 65px !important;
  }
}
@media screen and (max-width: 767px) {
  .feature-selection-options {
    top: -115px !important;
    margin-bottom: -210px;
    flex-wrap: wrap !important;
    -webkit-flex-wrap: wrap !important;
  }

  .feature-selection-options li {
    width: 100% !important;
    text-align: center;
  }

  .feature-selection-options li div {
    height: 250px !important;
    width: 250px !important;
    padding: 54px 30px 40px !important;
  }

  .fs-v2 .pictures-bg {
    margin-bottom: -105px !important;
    background-size: 112% 76% !important;
    background-position-y: bottom !important;
  }

  .page:not(.home) .btn-gradient, .single .btn-gradient {
    padding: 8px 20px !important;
    min-width: 108.5px !important;
  }
}
/*Mobile Breakpoint*/
@media screen and (max-width: 480px) {
  .page:not(.home) .btn-gradient, .single .btn-gradient {
    font-size: 14.5px !important;
    padding: 12px 20px !important;
    min-width: 132.5px !important;
  }
}

/*# sourceMappingURL=new.css.map */
